{-# LANGUAGE OverloadedStrings #-}

module Secret (botKey, botUsername) where

import Telegram.Bot.API.MakingRequests (Token)
import Data.Text(Text)

botKey :: Token
botKey = ""

botUsername :: Text
botUsername = ""
